button,
form,
input {
  margin: 10px;
}

img {
  height: 150px;
  width: 150px;

}
.bandDisp {
  float: right

}
Body {
  background-image: url("Emotions.png");
  background-size: 90em
}
.jumbotron {
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(28, 110, 164); 
  color: white
  
}
Button {
  color: rgb(255, 255, 255);
   font-size: 16px;
    line-height: 16px;
    padding: 6px; 
    border-radius: 10px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;}
Button:hover {
  background: #1C6EA4; }
Button:active {
  background: #144E75; 
}
#add-band {
  color: rgb(97, 255, 96); 
  font-size: 25px; 
  line-height: 25px; 
  padding: 7px; 
  border-radius: 32px; 
  font-family: Georgia, serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
  border: 2px solid rgb(28, 110, 164); 
  display: inline-block;
}
#add-band:hover {
  background: #1C6EA4; 
}
#add-band:active {
  background: #144E75; 
}
h1{
  font-size: 35px;
  text-align: center;
  color: white
}
.text-center {
  font-size: 25px
}
#labelEmotion {
  text-emphasis: bold;
  font-size: 25px;
  text-shadow: 36px 10px 4px rgba(28,110,164,0.7);
  color: #1C6EA4
}
#bandDiv{
  text-emphasis: bold;
  font-size: 25px;
}
.gif {
  border: 2px solid black;
  margin: 3px
}


